@media screen and (max-width:1918px){
    #b2{
        position: absolute;
        bottom:25%;
        left: 10%;
    }

    .agradecimento{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 80vh;
        justify-content: center;
        background-color: white;
    }
}

@media screen and (min-width:1100px) and (max-width:1280px) {
    .container, .agradecimento{
        overflow-y: hidden;
    }
   
    .container{
        position:relative;
        width: 80%;
        height: 90vh;
        background-color: #084994;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
        border-radius: 10px;
    }

    .form-image{
        margin-top: 0;
    }

    .agradecimento{
        position: absolute;
        width: 50%;
        height: 90vh;
        justify-content: center;
        background-color: white;
    }

    .agradecimento h1, h2, h3{
        font-size: 20px;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 35%;
    }

    #b2{
        width: 55%;
        height: 10%;
        position: absolute;
        bottom: 3.5%;
        left: 23%;
    }

    .enviar-button a{
        background-color:#0c63c5;
        font-weight: bold;
        font-size: 18px;
        overflow-y: hidden;
    }
    
}

@media screen and (min-width:1300px) and (max-width:1560px) {

    .container, .agradecimento{
        overflow-y: hidden;
    }

    .container{
        position:relative;
        width: 80%;
        height: 90vh;
        background-color: #084994;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
        border-radius: 10px;
    }

    .form-image{
        margin-top: 5%;
    }

    .agradecimento{
        position: absolute;
        width: 50%;
        height: 90vh;
        justify-content: center;
        background-color: white;
    }

    .agradecimento h1, h2, h3{
        font-size: 25px;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 35%;
    }

    #b2{
        width: 60%;
        height: 10%;
        position: absolute;
        bottom: 15%;
        left: 19%;
    }
    
}

@media screen and (min-width:320px) and (max-width:480px){
    .form-image{
        display: none;
    }

    .agradecimento{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, white 0, white 50%, #084994 50%);
        border-radius: 10px;
    }

    #p1{
        position: absolute;
        font-size: 25px;
        text-align: center;
        color:#084994;
        top: 19%;
    }
    
    
    #p2{
        position: absolute;
        width: 100%;
        font-size: 22px;
        text-align: center;
        top: 33%;
    }

    #img1{
        display: flex;
        position: absolute;
        width: 300px;
        top: 52%;
        left: 2.5%;
    }

    #img2{
        display: flex;
        position: absolute;
        width: 300px;
        top: -8%;
        left: 3%;
    }
 
}