body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/bg-office\(1920\).png);
}

body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

.container{
    position:relative;
    width: 80%;
    height: 80vh;
    background-color: #084994;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 10px;
}

#t1{
    font-size: 35px;
    position: absolute;
    margin: 1% 18%;
    color: #084994;
}

#t2{
    font-size: 28px;
    position: absolute;
    margin: 8% 28.5%;
    color: red;
}

#t3{
    font-size: 20px;
    position: absolute;
    margin: 14% 22% 0 22%;
}

#f1{
    position: absolute;
    left: 0;
    top: 5%;
}

#f2{
    position: absolute;
    right: 19%;
    top: 5%;
}

#f3{
    position: absolute;
    left: 0;
    top: 25%;
}

#f4{
    position: absolute;
    right: 19%;
    top: 25%;
}

#f5{
    position: absolute;
    left: 0;
    top: 46%;
}

#f6{
    position: absolute;
    right: 19%;
    top: 46%;
}

#l1,#l2,#l3,#l4,#l5,#l6,#l7{
    font-size: 15px;
}

.form-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.form-image img{
    width: 30rem;
}

.form{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 80vh;
    justify-content: center;
    background-color: rgb(231, 229, 229);
}

form{
    width: 100%;
    height: 80vh;
    position: absolute;
    overflow-y: hidden;
}

.form-header{
    width: 100%;
    height: 20vh;
    padding-left: 9%;
    padding-top: 2%;
}

.input-goup{
    position: absolute;
    width: 100%;
    height:70vh;
    top: 20%;
    justify-content: center;
    align-items: center;
}


.input-box{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: -10%;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    border: 0.5px solid #292727;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #084994;
}

.input-box label{
    font-size: 0.75rem;
    color: #000000c0;
}

.enviar-button button{
    width: 80%;
    margin-top: 2.5rem;
    border: none;
    background-color:#0c63c5;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

#b2{
    position: absolute;
    bottom: 30%;
    left: 10%;
}

.enviar-button button:hover{
    background-color: #084994;
    color: white;
}
